
    {
      "host": "LOGSTASHIP",
      "remote-port": 1514,
      "subsystem": [
        {
          "priority": {
            "match-above": "informational"
          },
          "subsystem-name": "aaa"
        },
        {
          "priority": {
            "match-above": "informational"
          },
          "subsystem-name": "acl"
        },
        {
          "priority": {
            "match-above": "informational"
          },
          "subsystem-name": "bfd"
        },
        {
          "priority": {
            "match-above": "informational"
          },
          "subsystem-name": "bgp"
        },
        {
          "priority": {
            "match-above": "informational"
          },
          "subsystem-name": "chassis"
        },
        {
          "priority": {
            "match-above": "informational"
          },
          "subsystem-name": "evpn"
        },
        {
          "priority": {
            "match-above": "informational"
          },
          "subsystem-name": "fib"
        },
        {
          "priority": {
            "match-above": "informational"
          },
          "subsystem-name": "gnmi"
        },
        {
          "priority": {
            "match-above": "informational"
          },
          "subsystem-name": "lldp"
        },
        {
          "priority": {
            "match-above": "informational"
          },
          "subsystem-name": "platform"
        },
        {
          "priority": {
            "match-above": "informational"
          },
          "subsystem-name": "bridgetable"
        },
        {
          "priority": {
            "match-above": "informational"
          },
          "subsystem-name": "vxlan"
        },
        {
          "priority": {
            "match-above": "informational"
          },
          "subsystem-name": "lag"
        },
        {
          "priority": {
            "match-above": "informational"
          },
          "subsystem-name": "mgmt"
        },
        {
          "priority": {
            "match-above": "informational"
          },
          "subsystem-name": "linux"
        }
      ],
      "transport": "udp"
    }
